@model LivroEstanteViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styles/global.css">
    <link rel="stylesheet" href="~/styles/livro.css">
    <link rel="stylesheet" href="~/styles/stylepesquisa.css">
    <link rel="stylesheet" href="~/styles/styleadicao.css">
    <script defer src="~/scripts/script.js"></script>
    <script defer src="~/scripts/scriptpesquisa.js"></script>
    <script defer src="~/scripts/textoTempoReal.js"></script>
    <script defer src="~/scripts/scriptadicao.js"></script>
    <title>Readery - Lista de Livros</title>
</head>

<body>
    <header class="cabecalho">
        <div class="alinhamento-cabecalho">
            <img src="~/assets/img/icone.svg" alt="" class="logo">
            <p class="titulo-icone">Readery</p>
        </div>
        <a href="" class="link-perfil">Perfil</a>
    </header>

    <main>
        @* <dialog class="teste-modal" id="teste-modal">
        <form method="post" enctype="multipart/form-data" asp-action="Criar" asp-controller="Livro">
        <div class="teste-campo">
        <label for="titulo">Título</label>
        <input id="titulo" name="Titulo" type="text" value="@Model.Titulo">

        <label for="sinopse">Sinopse</label>
        <input id="sinopse" name="Sinopse" type="text" value="@Model.Sinopse">

        <label for="numpaginas">Numero de Páginas</label>
        <input id="numpaginas" name="NumPaginas" type="number" value="@Model.NumPaginas">
        </div>

        <button type="submit">
        salvar
        </button>
        </form>
        </dialog> *@

        @*! MODAL LISTA DE LIVROS DO BANCO *@
        <div class="overlay" id="overlay" onclick="closeModal()"></div>
        <dialog class="modal" id="modal">
            <img src="~/assets/img/folha1.png" alt="" class="folha1">
            <img src="~/assets/img/folha2.png" alt="" class="folha2">
            <img src="~/assets/img/folha3.png" alt="" class="folha3">
            <img src="~/assets/img/folha4.png" alt="" class="folha4">
            <section class="topo">
                <div class="titulo-topo">
                    <p>Procure um livro!</p>
                </div>
            </section>
            <form asp-action="Index" asp-controller="Livro" method="get" class="nome"
                oninput="realizarBuscaNoModal(event); return false;">
                <label for="nome-livro" class="nome-texto">Nome do livro:</label><br>
                <input type="search" id="nome-livro" class="nome-caixa" name="busca"
                    placeholder="Qual o título do seu livro?" />
            </form>
            <section class="adicao_manual">
                <label for="adicao-livro" class="adicao-texto">Não achou seu livro?</label><br>
                <button class="adicao-caixa" onclick="showModalAdicao()">Adicione-o manualmente!</button>
            </section>
            <section class="livros" id="lista-livros-modal">
                @foreach (var livro in Model.Livros)
                {
                    <form asp-action="CriarCard" asp-controller="Livro" method="post">
                        <li class="livrinho-modal">
                            <button type="submit" name="livroid" value="@livro.IdLivro">@livro.Titulo</button>
                        </li>
                    </form>
                }
            </section>
            <button onclick="closeModal()" class="botao-fechar">X</button>
        </dialog>


        @*! MODAL ADIÇÃO DE LIVROS NO BANCO *@
        <div class="overlay2" id="overlay2" onclick="closeModalAdicao()"></div>
        <dialog class="modal2" id="modal2">
            <img src="~/assets/img/folha1.png" alt="" class="folha12">
            <img src="~/assets/img/folha2.png" alt="" class="folha22">
            <img src="~/assets/img/folha3.png" alt="" class="folha32">
            <img src="~/assets/img/folha4.png" alt="" class="folha42">
            <section class="topo2">
                <div class="titulo-topo2">
                    <p>Adicione um livro!</p>
                </div>
            </section>

            <form asp-action="Criar" asp-controller="Livro" id="form-adicao-livro" method="post"
                enctype="multipart/form-data">

                <section class="meio2">
                    <section class="meio-esquerda2">
                        <div class="foto2">
                            <img src="~/assets/img/sem-foto.png" id="previa2" class="sem-foto2">
                            <label for="capaurl" class="botao-foto2">Adicionar nova foto</label>
                            <input type="file" id="capaurl" name="capaurl" accept="image/jpeg, image/png, image/jpg"
                                class="input-escondido2">
                        </div>
                    </section>
                    <section class="meio-direita2">
                        <div class="nome2">
                            <label for="titulo" class="nome-texto2">Nome do livro:</label><br>
                            <input type="text" id="titulo" name="titulo" class="nome-caixa2"
                                placeholder="Qual o título do seu livro?" />
                        </div>
                        <div class="nome2">
                            <label for="autor" class="autor-texto2">Autor:</label><br>
                            <input type="text" id="autor" name="autor" class="autor-caixa2"
                                placeholder="Qual o nome do autor?" />
                        </div>
                        <div class="genero2">
                            <label for="genero" class="genero-livro2">Gênero:</label><br>
                            <select id="genero" name="genero">
                                <option value="Autoajuda">Autoajuda</option>
                                <option value="Biografia">Biografia</option>
                                <option value="Clássico">Clássico</option>
                                <option value="Desenvolvimento Pessoal">Desenvolvimento Pessoal</option>
                                <option value="Distopia">Distopia</option>
                                <option value="Fantasia">Fantasia</option>
                                <option value="Ficção Científica">Ficção Científica</option>
                                <option value="Histórico">Histórico</option>
                                <option value="Horror">Horror</option>
                                <option value="Literatura Brasileira">Literatura Brasileira</option>
                                <option value="Literatura Juvenil">Literatura Juvenil</option>
                                <option value="Mistério">Mistério</option>
                                <option value="Não Ficção">Não Ficção</option>
                                <option value="Policial">Policial</option>
                                <option value="Realismo Mágico">Realismo Mágico</option>
                                <option value="Romance">Romance</option>
                                <option value="Suspense">Suspense</option>
                                <option value="Terror">Terror</option>
                                <option value="Thriller">Thriller</option>
                            </select>
                        </div>
                        <div class="sinopse2">
                            <label for="sinopse" class="sinopse-livro2">Sinopse:</label><br>
                            <textarea id="sinopse" name="sinopse" class="sinopse-caixa2"
                                placeholder="Do que o seu livro se trata?"></textarea>
                        </div>
                        <div class="paginas2">
                            <label for="numpaginas" class="paginas-livro2">N.º de páginas:</label><br>
                            <input type="number" id="numpaginas" name="numpaginas" class="paginas-caixa2"
                                placeholder="Quantas páginas tem seu livro?" />
                        </div>
                    </section>
                    <span class="vl2"></div>
                </section>

                <button class="botao-salvar2" type="submit">Salvar livro</button>

            </form>
            <button onclick="closeModalAdicao()" class="botao-fechar2">X</button>
        </dialog>



        <section class="secao-listagem">
            <div class="alinhamento-busca">
                <button class="adiciona-livro" onclick="showModal()">Adicionar Livro</button>
                <div class="lupa-barra">
                    <img src="~/assets/icons/lupa.svg" alt="" class="icone-pesquisa">
                    <input type="search" id="filtro-busca" placeholder="Buscar livro...">
                </div>
            </div>

            <div>
                <div class="genero-texto">
                    <p>Gênero:</p>
                </div>

                <div class="alinhamento-genero">
                    <div class="alinhamento-botoes">
                        <button>Todos</button>
                        <button>Lendo</button>
                        <button>Lidos</button>
                        <button>Não Lidos</button>
                    </div>

                    <div class="filtros">

                        <select id="filtro-genero">
                            <option value="todos">Todos</option>
                            <option value="poesia">Poesia</option>
                            <option value="horror">Horror</option>
                            <option value="romance">Românce</option>
                            <option value="religiao">Religião</option>
                            <option value="fantasia">Fantasia</option>
                            <option value="aventura">Aventura</option>
                            <option value="suspense">Suspense</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section class="secao-modal-cards">
            <dialog class="modal-card">
                <div class="fecha-modal-card">
                    <button class="botao-cancela-modal2">X</button>
                </div>

                <div class="modal-card-parte1">
                    <img src="~/assets/img/divinacomedia.png" alt="a divina comedia" class="img-modal-card">
                    <div class="separacao-textos-modal">
                        <div>
                            <h1 class="titulo-livro-modal">A Divina Comédia</h1>
                            <p class="texto-modal">A Divina Comédia é um poema épico de Dante Alighieri que narra a
                                jornada do
                                próprio autor através do Inferno, Purgatório e Paraíso, representando uma viagem
                                espiritual e um
                                compêndio do conhecimento medieval. Guiado primeiro pelo poeta Virgílio e depois por
                                Beatriz,
                                ua musa inspiradora, Dante explora o mundo após a morte, refletindo sobre fé, razão e o
                                destino
                                humano. </p>
                        </div>
                        <h2 class="genero-modal">Gênero: Poesia</h2>
                    </div>
                </div>

                <hr class="linha-modal">
                <hr class="linha-modal2">

                <div class="modal-card-parte2">
                    <div>
                        <div class="alinhar-botao-comentario">
                            <h1 class="titulo-comentario">Cometário do Leitor:</h1>
                            <button class="botao-edita-comentario"><img src="~/assets/icons/Vector.svg" alt=""></button>
                        </div>
                        <div class="alinhamento-botao-modal" id="comentario-1">
                            <div id="texto-comentario-1">
                                <p class="comentario-leitor">Lorem Ipsum is simply dummy text of the printing and
                                    typesetting
                                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                    1500s.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has
                                    been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply
                                    dummy
                                    text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                    standard
                                    dummy text ever since the 1500s</p>
                            </div>
                        </div>
                    </div>

                    <div class="avaliacao-modal-alinhamento">
                        <div>
                            <h2 class="avaliação-modal">Avaliação:</h2>
                            <div>
                                <button class="estrela" id="1">☆</button>
                                <button class="estrela2" id="2">☆</button>
                                <button class="estrela3" id="3">☆</button>
                                <button class="estrela4" id="4">☆</button>
                                <button class="estrela5" id="5">☆</button>
                            </div>
                            <p>0/5</p>
                        </div>

                        <div>
                            <h2 class="estado-leitura-modal">Estado de Leitura:</h2>
                            <select id="" class="select-modal">
                                <option value="quero-ler">Quero Ler</option>
                                <option value="quero-ler">Lendo</option>
                                <option value="quero-ler">Lido</option>
                            </select>
                        </div>
                    </div>
                </div>

            </dialog>
        </section>

        <section class="secao-livros">
            @foreach (var estantelivro in Model.Estantes)
            {
                var fotob64 = Convert.ToBase64String(estantelivro.Livro.CapaURL);

                <div class="espaco-card">

                    <div class="card-dentro">
                        <img src="@(fotob64 != null ? $"data:image/*;base64,{fotob64}" :   
                            "~/assets/img/divinacomedia.png")"  alt="" class="img-card">
                        <div class="textos">
                            <p>@estantelivro.Livro.Titulo</p>
                        </div>
                    </div>

                </div>
            }
        </section>
        <img src="~/assets/img/divinacomedia.png" alt="" class="img-card2">
    </main>

</body>

</html>